body{
	margin: 0;
	padding: 0;
	background: url("matthew-pierce-kGglE3Yu_Ow-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
    height: 600px;
}
.signinbox{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% -50px);
    padding: 0 80px;
}
h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.signinbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.signinbox input{
	width: 100%;
	margin-bottom: 20px;
}
.signinbox input[type="text"], input[type="Password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.signinbox input[type="Submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}
.signinbox input[type="Submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.signinbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.signinbox a:hover{
	color: #ffc107;
}

	